<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEUS AMIGOS SÃO GAYS</title>
</head>
<body>
    <h1>VINI GAY</h1>
    <h1>GUI GAY</h1>
    <h1>GABS GAY</h1>
</body>
</html>